.properties {
    background-color: lightgray;
    display: block;
    width: 400px;
    height: 100%;
    float: right;
    position: relative;
    margin-right: 6px;
    overflow-y: auto;
}

.properties-input {
    display: flex;
    margin-bottom: 0.5em;
}

.properties-input-field {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    flex: 1;
    width: 100px;
}

.properties-input-item {
    background-color: rgba(147, 128, 108, 0.1);
    color: #000;
    font: inherit;
    font-weight: bold;
    width: 150px;
    text-align: left;
}

.properties-input-field,
.properties-input-item {
    border: 1px solid darkgray;
    padding: 0.2em 0.7em;
}

.properties-input-field:first-child,
.properties-input-item:first-child {
    border-radius: 2px 0 0 2px;
}

.properties-input-field:last-child,
.properties-input-item:last-child {
    border-radius: 0 2px 2px 0;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #fff;
    border: 1px solid darkgray;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #548C2F;
}

.checkbox-container input:disabled ~ .checkmark {
    background-color: darkgrey;
    cursor: initial;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bg-texture-button {
    margin: 10px;
    height: 39px;
    width: 39px;
    display: inline-block;
    border: 1px solid #aaa;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.bg-texture-container {
    font-weight: bold;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 2px;
    border: 1px solid rgba(147, 128, 108, 0.25);
    padding: 0.2em 0.7em;
    background-color: rgba(147, 128, 108, 0.1);
}

.bg-texture-container-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-texture {
    background: url("../images/grid.png");
}

.white-texture {
    background: #fff;
}

.pink-texture {
    background: #f0f;
}

.black-texture {
    background: #000;
}

.properties-switch {
    justify-content: center;
}

.properties-switch-op {
    margin: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 34px;
    margin-top: 2px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #548C2F;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #E6951D;
}

input:focus + .slider {
    box-shadow: 0 0 1px #E6951D;
}

input:disabled + .slider {
    background-color: #aaaaaa;
}

input:checked + .slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

